<div class="container-fluid" style="background-color: rgb(103, 103, 243);">
  <br>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <i class="fa fa-sticky-note fa-lg" aria-hidden="true"  style="color: white;"></i>
        </div>
        <div class="col">
          <i class="fa fa-calendar-check-o fa-lg" aria-hidden="true" style="color: white;"></i>
        </div>
      </div>
      
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <i class="fa fa-bell fa-lg" aria-hidden="true" style="color: white;"></i>
        </div>
        <div class="col">
          <i class="fa fa-cog fa-lg" aria-hidden="true"  style="color: white;"></i>
        </div>
      </div>
      
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <i class="fa fa-question fa-lg " aria-hidden="true"  style="color: white;"></i>
        </div>
        <div class="col" >
          <i class="fa fa-volume-off fa-lg " aria-hidden="true" style="color: white;"></i>
          
        </div>
      </div>
      
     
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
         
        </div>
        <div class="col">
          <i class="fa fa-user-circle-o fa-lg " aria-hidden="true" style="color: white;"></i>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div class="shadow p-3 mb-5 bg-white rounded">
  <div class="row">
    <div class="col-8">
      <div class="conatiner">
        <h4>What's New</h4>
      </div>

    </div>
    <div class="col-4">
      <div class="container">
        <div class="row">
          <div class="col-sm">
           
          </div>
          <div class="col-sm">
           
          </div>
          <div class="col-sm">
            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <br>
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col">
        <i class="fa fa-sticky-note fa-lg" aria-hidden="true"></i>
      </div>
      <div class="col-8">
        <h4>Add Your Sticky notes to mail</h4>
        <h6 style="color: grey;">Sharing your sticky notes just become easier .<br> They now also appear in the new note one<br> note feed,from where 
          you can drag and drop them into email message.</h6>
          <h6 style="color: blue;">Try It</h6>
      </div>
      <div class="col">
       
      </div>
    </div>
  </div>
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col">
        <i class="fa fa-repeat fa-lg" aria-hidden="true"></i>
      </div>
      <div class="col-8">
        <h4>Revoke Encripted Mail</h4>
        <h6 style="color: grey;">You can now go to sent item to<br>revoke encripted mail send to people outside your organisation <br> (With some Exceptation)</h6>
          <h6 style="color: blue;">Learn more</h6>
      </div>
      <div class="col">
      
      </div>
    </div>
  </div>
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col">
        <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
      </div>
      <div class="col-8">
        <h4>See Reminder On Your Desktop</h4>
          <h6 style="color: grey;">Go to Seeting and turn on<br> notifiactions<br></h6>
            <h6 style="color: blue;">Go To Seeting</h6>
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>
  </div>

<router-outlet></router-outlet>